.container {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    border: 6px solid green;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100rem;
}

.num {
    font-size: 6rem;
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    align-content: center;
}




